@model Web.Models.FindCarViewModel
@{
    ViewData["Title"] = "Home";
}

<form asp-action="Index" enctype="multipart/form-data">
    <div class="text-center">
        <h1 class="display-4">Find a Car</h1>
        <div class="row justify-content-md-center mt-3">
            <div class="col-9">
                @Html.DropDownListFor(model => model.MakeId, new SelectList(Model.AllMakes.Select(m => m), "Id", "Name"), "Select Make", new { @class = "form-control", @onchange = "submitform();" })
            </div>
            <div class="col-9">
                @Html.DropDownListFor(model => model.ModelId, new SelectList(Model.AllModels.Select(m => m), "Id", "Name"), "Select Model", new { @class = "form-control mt-3" })
            </div>
            <div class="col-9">
                <input type="submit" asp-action="Search" asp-controller="Cars" asp-route-makeId="@Model.MakeId" asp-route-modelId="@Model.ModelId" value="Search" class="btn btn-primary mt-3 col-md-3" />
            </div>
        </div>
    </div>
</form>
<script>
    function submitform() {
        $('form').submit();
    }
</script>
